@using XerifeTv.CMS.Models.User.Enums;

@{
  ICollection<string[]> roles = [];
  roles.Add([EUserRole.COMMON.ToString().ToLower(), "Comum"]);
  roles.Add([EUserRole.VISITOR.ToString().ToLower(), "Visitante"]);
}

<div 
  class="modal fade" 
  id="userFormModal" 
  data-bs-backdrop="static" 
  data-bs-keyboard="false" 
  tabindex="-1"
  aria-labelledby="userFormModalLabel"
  aria-hidden="true">

  <div class="modal-dialog modal-lg modal-dialog-centered">
    <form 
      class="modal-content" 
      asp-controller="Users"
      asp-action="Register">

      <div class="modal-header">
        <h1 class="modal-title fs-5" id="userFormModalLabel">
          Cadastrar Usuário
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row mb-2">
          <div class="col-6">
            <label for="userName" class="form-label">Nome de Usuário</label>
            <input 
              type="text" 
              class="form-control" 
              id="userName" 
              name="userName" 
              placeholder="digite aqui..." 
              required>
          </div>

          <div class="col-6">
            <label for="password" class="form-label">Senha</label>
            <input 
              type="password" 
              class="form-control" 
              id="password" 
              name="password" 
              placeholder="digite aqui..." 
              required>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-12">
            <label for="role" class="form-label">Cargo</label>
            <select 
              class="form-select" 
              id="role" 
              name="role" 
              required>
              <option selected value="">Selecione uma opção</option>
              @foreach (var role in roles)
              {
                <option value="@role[0]">@role[1]</option>
              }
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">
          Cadastrar
        </button>
      </div>
    </form>
  </div>
</div>
