@{
  ViewData["Title"] = "SignIn";
}

<div class="container d-flex flex-column justify-content-center align-items-center" style="height: 80vh;">


  <form 
    asp-controller="Users"
    asp-action="SignIn"
    class="w-50 p-4 py-5" 
    style="max-width: 450px; border-radius: 0.5rem; background: #242424;">

    <div class="w-100 d-flex justify-content-center mb-5 py-1">
      <img src="~/assets/logo.png" alt="logo" style="width: 60%;"/>
    </div>

    <div class="mb-3">
      <label for="userName" class="form-label text-light">Nome de Usuário</label>
      <input 
        type="text" 
        class="form-control" 
        id="userName" 
        name="userName" 
        placeholder="digite aqui..." 
        required>
    </div>
    <div class="mb-4">
      <label for="password" class="form-label text-light">Password</label>
      <input 
        type="password" 
        class="form-control"
        id="password" 
        name="password" 
        placeholder="digite aqui..." 
        required>
    </div>

    <button type="submit" class="btn btn-primary w-100 mt-1">Login</button>
  </form>
</div>