
<div class="container">
  <div class="w-100 d-flex flex-column justify-content-center align-items-center py-4 gap-4">
    <img 
      src="~/assets/unauthorized.png" 
      alt="unauthorized" 
      style="height: 24rem; border-radius: 0.5rem;" />

    <div class="w-75 text-center">
      <span class="display-6 fw-bold">Você não tem permissão para acessar essa pagina!</span>
    </div>

    <button class="btn btn-primary" onclick="history.back()">Voltar</button>
  </div>
</div>