@{
  ViewData["Title"] = "Canais";
}

<div class="container">
  <header>
    <div class="d-flex align-items-center justify-content-between gap-4">
      <span class="fs-3 fw-normal">Canais</span>
      <a class="btn btn-primary" asp-controller="Channels" asp-action="Form">
        <i class="fa-solid fa-plus"></i> Cadastrar
      </a>
    </div>
    <hr />
  </header>
</div>